<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/recruitresource?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="com/sqeteam/recruitresource/model/ProfessionalQualifications.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Sectors.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Persons.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Experiences.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Referees.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/EducationLevels.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Login.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/EmploymentLevels.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/JobTitles.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/EducationalQualifications.hbm.xml"/>
    <mapping resource="com/sqeteam/recruitresource/model/Skills.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
